<h1>Awesome Products</h1>
<<<<<<< HEAD

=======
>>>>>>> 884-lecture
<% @products.each do |product| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
<<<<<<< HEAD
      <h2><%= product.name %></h2>
      <p><%= product.tagline %></p>
=======
      <h2>Skello</h2>
      <p>Manage your staff calendar</p>
>>>>>>> 884-lecture
    </div>
  </div>
<% end %>
